html,body {
	font-size: 16pt;
	font-family: 'Palatino Linotype','Palatino','Times New Roman';
	background: #ffffff;
	color: #220000;
	padding: 0;
	margin: 0;
	width: 96%;
}

body {
	padding: 0 2% 2% 2%;
}

a {
	color: #0000aa;
}
a:visited {
	color: #0000aa;
}
a:hover {
	color: #aa0000;
}

h1 {
	font-size: 32pt;
}
h2 {
	font-size: 24pt;
}
h3 {
	font-size: 20pt;
}
h4 {
	font-size: 18pt;
}

textarea {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16pt;
	font-family: inherit !important;
	color: inherit;
	background: transparent;
}
