html,body {
	font-size: 1.5vw;
	font-family: 'Palatino Linotype','Palatino','Times New Roman';
	background: #ffffff;
	color: #111111;
	padding: 0;
	margin: 0;
	width: 97%;
}

body {
	padding: 0 1.5% 2% 1.5%;
}

a {
	color: #0000aa;
}
a:visited {
	color: #0000aa;
}
a:hover {
	color: #aa0000;
}

h1 {
	font-size: 3.5vw;
	font-weight: bold;
}
h2 {
	font-size: 3vw;
	font-weight: bold;
}
h3 {
	font-size: 2.5vw;
	font-weight: bold;
}
h4 {
	font-size: 2vw;
	font-weight: bold;
}

textarea {
	display: block;
	position: absolute;
	top: 0;
	left: 2%;
	width: 97%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16pt;
	font-family: inherit !important;
	color: inherit;
	background: transparent;
}

iframe.youtube {
	width: 90vw;
	height: 51vw;
	max-width: 600px;
	max-height: 338px;
}
